<h1>Upcoming Sessions</h1>
<p><% @sessions.select do |session| %>
<%= link_to session.name, session_path(session) %>
<%end%><br></p>

<h1> Past Sessions </h1>
<p><% @sessions.each do |session| %>
<%= link_to session.name, session_path(session) %>
<%end%><br></p>


<p><%= link_to "Plan a New Session", new_session_path %></p>
