<h1>Upcoming Sessions</h1>
<p><% @study_sessions.each do |study_session| %>
<% if study_session.upcoming? %>
<%= link_to study_session.name, study_session_path(study_session) %>
<% else %>
<p><%="you have no upcoming sessions" %></p>
<%end%>
<%end%><br></p>

<h1> Past Sessions </h1>
<p><% @study_sessions.each do |study_session| %>
<% if !study_session.upcoming? %>
<%= link_to study_session.name, study_session_path(study_session) %>
<% else %>
<p><%= "you have no previous sessions" %></p>
<%end%>
<%end%><br></p>
