<h1>Buddies</h1>
<ul>
<% @users.each do |user| %>
  <% if user.tutor %>
  <li>
    <%= link_to user.username, user_path(user) %>
  </li>
  <% end %>
<% end %>
</ul>
<%= link_to "Back to Dashboard", user_path(session[:user_id]), class: "btn btn-primary" %>
