<h1> Available Subjects </h1>
<ul>
<% @subjects.each do |subject|%>
  Subject: <%=subject.name %><br>
  Description: <%= subject.description%><br>
<%end%>
</ul>
<%= link_to "Back to Dashboard", user_path(session[:user_id]), class: "btn btn-primary"%>
