<h1> Available Subjects </h1><br>

  <% @subjects.each do |subject|%>
<dl>
  <ul>
   <dt><li><%=subject.name %></li><dt>
     <dd>Description: <%= subject.description%></dd>
     </dl>

<%end%>


<%= link_to "Back to Dashboard", user_path(session[:user_id]), class: "btn btn-primary"%>
