<body class="indexes">
<h1> Available Subjects </h1><br>
  <% @subjects.each do |subject|%>
  Subject: <%=subject.name %>
  <blockquote>
    Description: <%= subject.description%></blockquote>
<%end%>
<%= link_to "Back to Dashboard", user_path(session[:user_id]), class: "btn btn-primary"%>
</body>
