/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */


// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu');

//ALL pages

body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.container {
    padding-top: 20px;
    min-height: 75%;
}
.container-fluid {
  padding-top: 30px;
  padding-bottom: 0px;
}

footer {
    height: 15%;
    background-color: whitesmoke;

}

ul {
    list-style: none; /* Removes list bullets */
    padding: 10px;
    margin: 0;
}


.navbar1{
  background-color:rgb(22, 142, 255);
}


body.home{
  background: url("bg.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: scroll;
}

.back-color{
  background: white;
}

.navbar-home{
  list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    height:40px;

}

.navbar-menu {
  float: center;
  overflow: hidden;
  background-color: rgb(22, 142, 255);
  width: 100%;
  padding: 0;
}


.navbar-menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  display: flex !important;
  flex-basis: auto;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;

}

.navbar-menu a:hover {
  background-color: #ddd;
  color: rgb(4, 8, 247);
}
.navbar-menu a.active {
  background-color: rgb(68, 163, 71);
  color: rgb(19, 184, 69);
}

.btn-lg, .btn-group-lg>.btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 430px;
  margin-inline-end: 0px;
}

.lead {
  font-size: 10.00rem;
  font-weight: 300;

}

p.lead {
  color: white;
  font-size: 10.00rem;


}

.login {
  margin-top: 5%;
}

.dashboard{
  padding: 50px;
  text-align: center;

}
