body {
  font-family: verdana, helvetica, sans-serif;
  margin-left: 15%;
  margin-right: 20%;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-weight: 600;
}

h1 {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255, 0.9);
  background-color: white;
  text-align: center;
  border: solid 1px black;
}

header {
  /*Fallback for incompatibility with rgba()*/
  background-color: rgb(255,255,255);
  /*RGB with transparency option*/
  background-color: rgba(255,255,255, 0.9);
  color: red;
  font-family: ubuntu_bold;
  font-size: 400%;
  text-align: center;
  border-radius: 7%;
}

.navbar-menu {
  overflow: hidden;
  background-color: rgb(4, 8, 247);
}

.navbar-menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-menu a:hover {
  background-color: #ddd;
  color: rgb(4, 8, 247);
}

.navbar-menu a.active {
  background-color: rgb(68, 163, 71);
  color: white;
}


